@using ChildrenCare.Utilities.Pagination
@using ChildrenCare.DTOs.ReservationDTOs
@using ChildrenCare.Utilities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    Layout = "_Layout";
    GetMyReservationListResponseDTO dto = ViewBag.ReservationList;
    var reservationList = dto.Reservations.Items;
    var statusList = dto.AppParameters;
}
<div class=container>

    <h1 class="text-center">My Reservation</h1>
    <div class="choose-more-service mb-3">
        <div class="col-2 me-1">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search name"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @if (reservationList.Any())
    {
        <table class="table table-responsive text-center">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Reserved Date</th>
                <th scope="col">Service Number</th>
                <th scope="col">Created Date</th>
                <th scope="col">Last Updated Date</th>
                <th scope="col">Total cost</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var reservation in reservationList)
            {
                <tr>
                    <th scope="row">
                        <a asp-controller="Reservation" asp-action="ReservationDetail" asp-route-id="@reservation.Id">@reservation.Id</a>
                    </th>
                    <td>
                        @if (reservation.PreservedDate == null)
                        {
                            <p>No Date Selected</p>
                        }
                        else
                        {
                            @reservation.PreservedDate
                        }
                    </td>
                    <td>@reservation.ServiceNumber</td>
                    <td>@reservation.CreatedDate.ToString(GlobalVariables.DateTimeFormat)</td>
                    <td>@reservation.LastUpdate.ToString(GlobalVariables.DateTimeFormat)</td>
                    <td class="text-danger fw-bold">@string.Format(format, "{0:c0}", @reservation.ActualTotalPrice)</td>
                    <td>@statusList.Single(parameter => parameter.Id == reservation.Status).DisplayName</td>
                    <td>
                        @{
                            if (reservation.Status == GlobalVariables.SubmittedReservationStatus)
                            {
                                <form asp-controller="Reservation" asp-action="ApproveReservation" method="post">
                                    <button class="btn btn-danger" asp-controller="Reservation" asp-action="CancelReservation" asp-route-id="@reservation.Id">Cancel</button>
                                </form>
                            }
                            if (reservation.Status == GlobalVariables.DraftReservationStatus)
                            {
                                <form asp-controller="Reservation" asp-action="ApproveReservation" method="post">
                                    <button class="btn btn-danger" asp-controller="Reservation" asp-action="DeleteReservation" asp-route-id="@reservation.Id">Delete</button>
                                </form>
                            }
                            if (reservation.Status == GlobalVariables.SuccessReservationStatus)
                            {
                                <form asp-controller="Reservation" asp-action="CreatePrescription" method="post">
                                    <button class="btn btn-info" asp-controller="Reservation" asp-action="ViewPrescription" asp-route-reservationId="@reservation.Id" method="post">
                                        View Prescription
                                    </button>
                                </form>
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">3</a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <div>
            <h1 class="text-center text-danger">You haven't made any reservation</h1>
        </div>
    }
</div>