@model IEnumerable<ChildrenCare.Entities.Prescription>

@{
    ViewData["Title"] = "PrescriptionsList";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
<div class="container">
    <h1>Prescriptions List</h1>
    
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerAccount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorAccount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerAccount.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorAccount.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        
                        <a class="btn btn-primary" asp-action="DetailsPescriptions" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
    }
            </tbody>
        </table>
</div>